@import "./variables.css";

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--shuttle-gray);
}

code {
  padding: 2px 4px;
  color: var(--torch-red);
  background-color: rgba(var(--torch-red), .1);
  border-radius: var(--border-radius);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  color: var(--outer-space);
}

h1,
h2,
h3 {
  margin: 0 0 32px 0;
  font-weight: 300;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4,
h5,
h6 {
  margin: 0 0 16px 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.HeadingCouple h1,
.HeadingCouple h2,
.HeadingCouple h3,
.HeadingCouple h4,
.HeadingCouple h5,
.HeadingCouple h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  margin: 32px 16px 32px 34px;
}

li {
  margin-bottom: 8px;
}

.no-list-style {
  list-style: none;
}

.no-margin-bottom {
  margin-bottom: 0;
}

p {
  margin: 16px 0;
}

.first-p {
  margin-top: 0;
}

.last-p {
  margin-bottom: 0;
}