:root {
  --font-family: "Open Sans", sans-serif;
  --font-size: 1rem;
  --font-size-large: 2rem;
  --font-size-small: 0.8rem;
  --font-size-extra-small: 0.7rem;
  --font-weight-bold: 600;
  --font-weight: 400;
  --font-weight-thin: 300;
  --line-height: 1.5;
}
