:root {
  --curious-blue: #168eea;
  --curious-blue-light: rgba(22, 142, 234, .3);
  --curious-blue-ultra-light: rgba(22, 142, 234, .1);
  --denim: #137ac9;
  --tory-blue: #0f63a4;

  --appdotnet: #4a484c;
  --facebook: #3b5998;
  --googleplus: #dd4b39;
  --linkedin: #007bb6;
  --pinterest: #bd081c;
  --twitter: #55acee;

  --outer-space: #323b43;
  --outer-space-light: rgba(50, 59, 67, 0.3);
  --outer-space-ultra-light: rgba(50, 59, 67, 0.1);
  --shuttle-gray: #59626a;
  --nevada: #666c72;
  --geyser: #ced7df;
  --mystic: #e6ebef;
  --aqua-haze: #f4f7f9;

  --white: #fff;
  --black: #000;

  --shamrock: #2fd566;
  --saffron: #f1cb3a;
  --torch-red: #ff1e1e;
  }
