:root {
  --lochmara: #007acc;
  --lochmara-hover: #006eb8;
  --lochmara-light: rgba(0, 122, 204, .3);
  --lochmara-ultra-light: rgba(0, 122, 204, .1);
  --tory-blue: #0f63a4;

  --appdotnet: #4a484c;
  --facebook: #3b5998;
  --googleplus: #dd4b39;
  --linkedin: #007bb6;
  --pinterest: #bd081c;
  --twitter: #55acee;

  --aqua-haze: #f4f7f9;
  --geyser: #ced7df;
  --mystic: #e6ebef;
  --nevada: #666c72;
  --outer-space: #323b43;
  --outer-space-ultra-dark: rgba(50, 59, 67, 0.8);
  --outer-space-light: rgba(50, 59, 67, 0.3);
  --outer-space-ultra-light: rgba(50, 59, 67, 0.1);
  --shuttle-gray: #59626a;

  --black: #000;
  --white: #fff;

  --red: #ee0000;
  --shamrock: #2fd566;
  --saffron: #f1cb3a;
  }
