@import '../variables.css';

.curiousBlue {
  fill: var(--curious-blue);
}

.curiousBlueLight {
  fill: var(--curious-blue-light);
}

.curiousBlueUltraLight {
  fill: var(--curious-blue-ultra-light);
}

.denim {
  fill: var(--denim);
}

.toryBlue {
  fill: var(--tory-blue);
}

.appdotnet {
  fill: var(--appdotnet);
}

.facebook {
  fill: var(--facebook);
}

.googleplus {
  fill: var(--googleplus);
}

.linkedin {
  fill: var(--linkedin);
}

.pinterest {
  fill: var(--pinterest);
}

.twitter {
  fill: var(--twitter);
}

.outerSpace {
  fill: var(--outer-space);
}

.outerSpaceLight {
  fill: var(--outer-space-light);
}

.outerSpaceUltraLight {
  fill: var(--outer-space-ultra-light);
}

.shuttleGray {
  fill: var(--shuttle-gray);
}

.nevada {
  fill: var(--nevada);
}

.geyser {
  fill: var(--geyser);
}

.mystic {
  fill: var(--mystic);
}

.aquaHaze {
  fill: var(--aqua-haze);
}

.white {
  fill: var(--white);
}

.shamrock {
  fill: var(--shamrock);
}

.saffron {
  fill: var(--saffron);
}

.torchRed {
  fill: var(--torch-red);
}

.icon {
  width: 1rem;
  height: 1rem;
}

.small {
  width: 0.75rem;
  height: 0.75rem;
}

.large {
  width: 2rem;
  height: 2rem;
}
