@import '../variables.css';

.label {
    position: absolute;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    background-color: var(--black);
    border-radius: var(--border-radius);
    opacity: .65;
    letter-spacing: 0.1rem;
    z-index: 2;
}
