@import '../variables.css';

.link {
  font-size: var(--font-size);
}

.link:link,
.link:visited {
  color: var(--lochmara);
}

.link:hover {
  color: var(--lochmara-hover);
}

.link:active {
  color: var(--tory-blue);
}

.unstyled {
  text-decoration: none;
}
