@import '../variables.css';

.card {
  padding: 1.5em;
  font-size: 0.875em;
  line-height: var(--line-height);
  color: var(--outer-space);
  background-color: var(--white);
  border: var(--border-width) solid var(--mystic);
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition-animation-time) var(--transition-animation-type);
}

.hovered {
  box-shadow: var(--box-shadow-level-1);
}

.double-padding {
  padding: 3em;
}

.empty {
  border-color: var(--geyser);
  border-style: dashed;
}

.empty.hovered {
  border-color: transparent;
}

.faded {
  opacity: 0.5;
}

.failed {
  border-color: var(--torch-red);
}

.no-border {
  border: 0;
}

.no-padding {
  padding: 0;
}
