@import '../variables.css';

.loader {
  text-align: center;
}

.icon {
  position: relative;
  margin: 0 auto 1rem auto;
  width: 1rem;
  height: 1rem;
}

.top svg {
  -webkit-animation: fadein 2s -0.5s infinite ease-in-out;
          animation: fadein 2s -0.5s infinite ease-in-out;
}

.middle svg {
  -webkit-animation: fadein 2s -0.25s infinite ease-in-out;
          animation: fadein 2s -0.25s infinite ease-in-out;
}

.bottom svg {
  -webkit-animation: fadein 2s infinite ease-in-out;
          animation: fadein 2s infinite ease-in-out;
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadein {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.top,
.middle,
.bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
}

.top svg,
.middle svg,
.bottom svg {
  position: absolute;
  top: 0;
  left: 0;
}
