@import '../variables.css';

.imageWrapper {
  flex-grow: 1;
  flex-basis: 50%;
  height: 50%;
}

.multipleImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.rounded {
  border-radius: var(--border-radius);
}
