@import '../variables.css';

.navbar {
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--white);
  border-bottom: var(--border-width) solid var(--geyser);
  box-sizing: border-box;
}

.app-icon {
  margin-right: 0.5rem;
  color: var(--shuttle-gray);
}

.app-icon::before {
  line-height: normal;
}
