@import '../layout.css';
@import '../variables.css';

.navbar {
  display: flex;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--geyser);
  box-sizing: border-box;
}

.app-icon {
  margin-right: 0.5em;
  color: var(--shuttle-gray);
}

.app-icon::before {
  line-height: normal;
}
