@import '../variables.css';

.Button {
  display: inline-block;
  padding: 8px 24px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--white);
  background-color: var(--curious-blue);
  border: 1px solid transparent;
  border-radius: 256px;
  cursor: pointer;
  outline: none;
  transition: background-color var(--transition-animation-time) var(--transition-animation-type);
}

.Button:active {
  background-color: var(--tory-blue);
}

.Button:hover {
  color: var(--white);
  text-decoration: none;
  background-color: var(--denim);
}

.Button [class*=" bi-"]:before,
.Button [class^=bi-]:before {
  vertical-align: baseline;
}

.Button .bi {
  color: var(--white);
}

/* Button - Modifiers */
.Button--state-error {
  color: var(--torch-red);
  background-color: transparent;
  border-color: var(--torch-red);
}

.Button--state-error:active {
  color: var(--torch-red);
  background-color: rgba(var(--torch-red), 0.1);
}

.Button--state-error:hover {
  color: var(--torch-red);
  background-color: transparent;
}

.Button--state-error:hover i.bi {
  color: var(--white);
}

.Button--state-error i.bi {
  color: var(--torch-red);
}

.Button--type-borderless {
  color: var(--curious-blue);
  background-color: transparent;
  border: 0;
}

.Button--type-borderless:hover {
  color: var(--denim);
  background-color: transparent;
}

.Button--type-borderless:active {
  color: var(--denim);
  background-color: transparent;
}

.Button--type-in-app {
  padding: 4px 16px;
}

.Button--type-secondary {
  color: var(--curious-blue);
  background-color: transparent;
  border-color: var(--curious-blue);
}

.Button--type-secondary:active {
  color: var(--curious-blue);
  background-color: rgba(var(--curious-blue), 0.1);
  border-color: var(--curious-blue);
}

.Button--type-secondary:hover {
  color: var(--denim);
  background-color: transparent;
  border-color: var(--denim);
}

.Button--type-secondary i.bi {
  color: var(--curious-blue);
}

.Button--type-small {
  padding: 2px 10px;
  font-size: 11px;
}

.Button--type-tertiary {
  color: var(--nevada);
  background-color: transparent;
  border-color: var(--geyser);
}

.Button--type-tertiary i.bi {
  color: var(--nevada);
}

.Button--type-tertiary:active {
  color: var(--outer-space);
  background-color: rgba(var(--outer-space), 0.1);
  border-color: var(--outer-space);
}

.Button--type-tertiary:active i.bi {
  color: var(--outer-space);
}

.Button--type-tertiary:hover {
  color: var(--outer-space);
  background-color: transparent;
  border-color: var(--outer-space);
}

.Button--type-tertiary:hover i.bi {
  color: var(--outer-space);
}

/* ButtonIcon */
.ButtonIcon {
  align-self: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 12px;
  background-color: transparent;
  border: 0;
}
