@import '../layout.css';
@import '../variables.css';
@import '../typography.css';

button {
  display: inline-block;
  padding: 0 24px;
  height: 32px;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--curious-blue);
  border: 1px solid transparent;
  border-radius: 256px;
  cursor: default;
  outline: none;
  transition: background-color var(--transition-animation-time) var(--transition-animation-type);
}

button:focus {
  box-shadow: 0 0 4px rgba(var(--curious-blue), 1);
}

button:hover {
  color: var(--white);
  text-decoration: none;
  background-color: var(--denim);
}

button:active {
  background-color: var(--tory-blue);
}

button:disabled {
  color: var(--white);
  background: var(--curious-blue);
}

button:disabled,
.button-borderless:disabled,
.button-large:disabled,
.button-secondary:disabled,
.button-small:disabled,
.button-tertiary:disabled,
.button-warning:disabled {
  cursor: not-allowed;
  opacity: .3;
}

button [class*=" bi-"]:before,
button [class^=bi-]:before {
  vertical-align: baseline;
}

button .bi {
  color: var(--white);
}

.button-borderless {
  color: var(--curious-blue);
  background-color: transparent;
  border: 0;
}

.button-borderless:hover {
  color: var(--denim);
  background-color: transparent;
}

.button-borderless:active {
  color: var(--denim);
  background-color: transparent;
}

.button-borderless:disabled {
  color: var(--curious-blue);
  background-color: transparent;
}

.button-borderless i.bi {
  color: var(--curious-blue);
}

.button-large {
  padding-right: 30px;
  padding-left: 30px;
  height: 40px;
  font-size: var(--font-size);
}

.button-secondary {
  color: var(--curious-blue);
  background-color: transparent;
  border-color: var(--curious-blue);
}

.button-secondary:hover {
  color: var(--denim);
  background-color: transparent;
  border-color: var(--denim);
}

.button-secondary:active {
  background-color: rgba(var(--curious-blue), .1);
}

.button-secondary:disabled {
  color: var(--curious-blue);
  background-color: transparent;
}

.button-secondary i.bi {
  color: var(--curious-blue);
}

.button-small {
  padding: 0 20px;
  height: 26px;
  font-size: 12px;
}

.button-tertiary {
  color: var(--nevada);
  background-color: transparent;
  border-color: var(--geyser);
}

.button-tertiary:hover {
  color: var(--outer-space);
  background-color: transparent;
}

.button-tertiary:hover i.bi {
  color: var(--outer-space);
}

.button-tertiary:active {
  background-color: rgba(var(--outer-space), .1);
}

.button-tertiary:active i.bi {
  color: var(--outer-space);
}

.button-tertiary:disabled {
  color: var(--nevada);
  background-color: transparent;
}

.button-tertiary i.bi {
  color: var(--nevada);
}

.button-warning {
  color: var(--outer-space);
  background-color: transparent;
  border-color: var(--torch-red);
}

.button-warning:hover {
  color: var(--white);
  background-color: var(--torch-red);
}

.button-warning:active {
  color: var(--white);
  background-color: #b21414;
}

.button-warning:hover i.bi {
  color: var(--white);
}

.button-warning:disabled {
  color: var(--outer-space);
  background-color: transparent;
}

.button-warning i.bi {
  color: var(--torch-red);
}