@import '../layout.css';
@import '../variables.css';
@import '../typography.css';

button {
  display: inline-block;
  padding: 0 24px;
  height: 32px;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--curious-blue);
  border: 1px solid transparent;
  border-radius: 256px;
  cursor: default;
  outline: none;
  transition: background-color var(--transition-animation-time) var(--transition-animation-type);
}

button:focus {
  box-shadow: 0 0 4px var(--curious-blue);
}

button:hover {
  color: var(--white);
  text-decoration: none;
  background-color: var(--denim);
}

button:active {
  background-color: var(--tory-blue);
}

button:disabled {
  color: var(--white);
  background: var(--curious-blue);
}

button:disabled,
.borderless:disabled,
.large:disabled,
.secondary:disabled,
.small:disabled,
.tertiary:disabled,
.warning:disabled {
  opacity: .3;
}

button [class*=" bi-"]:before,
button [class^=bi-]:before {
  vertical-align: baseline;
}

button .bi {
  color: var(--white);
}

.borderless {
  color: var(--curious-blue);
  background-color: transparent;
  border: 0;
}

.borderless:hover {
  color: var(--denim);
  background-color: transparent;
}

.borderless:active {
  color: var(--denim);
  background-color: transparent;
}

.borderless:disabled {
  color: var(--curious-blue);
  background-color: transparent;
}

.borderless i.bi {
  color: var(--curious-blue);
}

.large {
  padding-right: 30px;
  padding-left: 30px;
  height: 40px;
  font-size: var(--font-size);
}

.secondary {
  color: var(--curious-blue);
  background-color: transparent;
  border-color: var(--curious-blue);
}

.secondary:hover {
  color: var(--denim);
  background-color: transparent;
  border-color: var(--denim);
}

.secondary:active {
  background-color: var(--curious-blue-ultra-light);
}

.secondary:disabled {
  color: var(--curious-blue);
  background-color: transparent;
}

.secondary i.bi {
  color: var(--curious-blue);
}

.small {
  padding: 0 20px;
  height: 26px;
  font-size: 12px;
}

.tertiary {
  color: var(--nevada);
  background-color: transparent;
  border-color: var(--geyser);
}

.tertiary:hover {
  color: var(--outer-space);
  background-color: transparent;
}

.tertiary:hover i.bi {
  color: var(--outer-space);
}

.tertiary:active {
  background-color: var(--outer-space-ultra-light);
}

.tertiary:active i.bi {
  color: var(--outer-space);
}

.tertiary:disabled {
  color: var(--nevada);
  background-color: transparent;
}

.tertiary i.bi {
  color: var(--nevada);
}

.warning {
  color: var(--outer-space);
  background-color: transparent;
  border-color: var(--torch-red);
}

.warning:hover {
  color: var(--white);
  background-color: var(--torch-red);
}

.warning:active {
  color: var(--white);
  background-color: #b21414;
}

.warning:hover i.bi {
  color: var(--white);
}

.warning:disabled {
  color: var(--outer-space);
  background-color: transparent;
}

.warning i.bi {
  color: var(--torch-red);
}