/**
 * 'react-day-picker' styles copied and adapted from the source:
 * https://github.com/gpbl/react-day-picker/blob/master/src/style.css
 *
 * That external component doesn't use CSS Modules, and it seems unwieldy to
 * change that as a consumer, so we'll continue using this component's
 * BEM-like approach for styling, and make the classes global :)
 */

/*:import('./constants.css') {
  blue-color-primary-hue: blue-color-primary-hue;
  blue-color-primary-hue; on line 16
}*/

:root {
  --blue-color-primary-hue: #168eea;

  --datetimepicker-inner-border-color: #eaecec;
}

/* DayPicker styles */

:global(.DayPicker) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
}

:global(.DayPicker:focus) {
  outline: none;
}

:global(.DayPicker-Month) {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
}

  :global(.DayPicker-Caption) {
    display: table-caption;
    height: 1.5rem;
    text-align: center;
  }

  :global(.DayPicker:focus .DayPicker-Caption) {
    outline: 1px dotted var(--datetimepicker-inner-border-color);
    margin: -4px 0;
    padding: 4px 0;
  }

  :global(.DayPicker-Weekdays) {
    display: table-header-group;
  }

    :global(.DayPicker-WeekdaysRow) {
      display: table-row;
    }

  :global(.DayPicker-Body) {
    display: table-row-group;
  }

    :global(.DayPicker-Week) {
      display: table-row;
    }

      :global(.DayPicker-Day) {
        display: table-cell;
        padding: .5rem;
        border: 1px solid var(--datetimepicker-inner-border-color);
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
        overflow: hidden;
      }

      :global(.DayPicker-Day:focus:active) {
        outline: none;
      }

  :global(.DayPicker--interactionDisabled .DayPicker-Day) {
    cursor: default;
  }

/* Default modifiers */

:global(.DayPicker-Day--isToday) {
  color: var(--blue-color-primary-hue);
  font-weight: 500;
}

:global(.DayPicker-Day--disabled) {
  color: #dce0e0;
  cursor: default;
  background-color: #eff1f1;
}

:global(.DayPicker-Day--outside) {
  cursor: default;
  color: #dce0e0;
}

/* Other modifiers */

:global(.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)) {
  color: #fff;
  background-color: var(--blue-color-primary-hue);
}

:global(.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):focus) {
  outline: none;
}

:global(.DayPicker-Day--selected.DayPicker-Day--disabled:not(.DayPicker-Day--outside)) {
  color: #c1c5c5;
  background: repeating-linear-gradient(45deg, #eff1f1, #eff1f1 4px,
    rgba(22, 142, 234, 0.2) 4px, rgba(22, 142, 234, 0.2) 8px);
}
