@import '../variables.css';

.sectionHeader {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--border-width) solid var(--mystic);
}