@import '../variables.css';

.text {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--shuttle-gray);
}

.black {
  color: var(--black);
}

.blue {
  color: var(--curious-blue);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.extraSmall {
   font-size: var(--font-size-extra-small);
}

.gray {
  color: var(--outer-space-light);
}

.large {
  font-size: var(--font-size-large);
}

.mini {
  font-size: var(--font-size-mini);
}

.red {
  color: var(--torch-red);
}

.small {
  font-size: var(--font-size-small);
}

.thin {
  font-weight: var(--font-weight-thin);
}

.white {
  color: var(--white);
}